
@mixin prefix($name, $value) {
  #{$name}:         $value;
  -moz-#{$name}:    $value;
  -webkit-#{$name}: $value;
}

$banner: #cae0d1;
$shine:  #ed9;

.seqrentry-button {
    padding: 0px;
    border:  2px solid #888;
    position: relative;
    background: #fff url(button.png) no-repeat center center;
}

.seqrentry-button img {
    position: absolute;
    top:      0px;
    left:     0px;
    width:    100%;
}

.seqrentry-button::-moz-focus-inner {
    padding: 0px;
    border:  none;
}

#seqrentry-banner {
    position:      fixed !important;
    position:      absolute;
    left:          0px;
    width:         100%;
    height:        440px;

    margin:        0px;
    padding:       0px; 

    border-top:    2px solid #000;
    border-right:  0px;
    border-bottom: 2px solid #000;
    border-left:   0px;

    background:    $banner url(spinner.gif) no-repeat center center;
    color:         #000000;
    z-index:       2000000000;

    /* Visual extras */
    animation-name:     seqrentry-banner-anim;
    animation-duration: 1s;

    -webkit-animation-name:     seqrentry-banner-anim;
    -webkit-animation-duration: 1s;
}

#seqrentry-qrcode {
    display:       block;
    cursor:        pointer;

    position:      relative;

    margin-top:    20px;
    margin-left:   auto;
    margin-bottom: 0px;
    margin-right:  auto;
    padding:       25px;
    border:        2px solid black;
    background:    white;

    /* Visual extras */
    border-radius:      15px;
    box-shadow:         0px 0px 40px #999;
    @include  prefix(transition, box-shadow 0.3s ease-in-out);

    @include  prefix(animation-name,     seqrentry-qrcode-anim);
    @include  prefix(animation-duration, 1s);
}

#seqrentry-qrcode:hover {
    border-radius:      15px;
    box-shadow:         0px 0px 40px $shine;
}

@keyframes seqrentry-banner-anim {
    from { transform: scale(1, 0); }
    to   { transform: scale(1, 1); }
}

@-webkit-keyframes seqrentry-banner-anim {
    from { -webkit-transform: scale(1, 0); }
    to   { -webkit-transform: scale(1, 1); }
}

@keyframes seqrentry-qrcode-anim {
    from { left: 100%; }
    60%  { left: -3%;  }
    to   { left: 0%;   }
}

@-webkit-keyframes seqrentry-qrcode-anim {
    from { left: 100%; }
    60%  { left: -3%;  }
    to   { left: 0%;   }
}
