
@import 'reset';

@mixin prefix($name, $value) {
  #{$name}:         $value;
  -moz-#{$name}:    $value;
  -webkit-#{$name}: $value;
}

$fill: #7EA7D8;
$body: #fcffff;
$back: #fffff8;
$text: #033;

html { 
    overflow-y: scroll;
}

body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-style:  normal;
    font-weight: 300;
    font-size:   20px;

    margin: 0px auto 0px auto;

    background-color: $body;
    color:            $text;
    max-width:        1280px;
    padding:          0px 15px 15px 15px;
}

a         { color: $fill; }
a:link    { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover   { text-decoration:underline; }
a:active  { text-decoration:underline; }

article { 
    display:     none; 
    padding-top: 10px;
}

article.active   { display: block; }
article.inactive { display: none;  }

header {
    hgroup {
        display:          inline-block;
        border:           2px solid $text;
        margin-left:      -30px;
        padding:          20px 30px 20px 30px;
        border-radius:    15px;
        background-color: $fill;
        color:            $back;
    }

    a {
        color:            $back;
    }

    h1 {
        font-family: 'Oregano', cursive; 
        font-weight: 400; 
        font-style:  italic;
        font-size:   48px;
    }

    h2 {
        font-style:  normal;
        font-weight: 100;
        font-size:   32px;

        text-align: right;
    }
}

section {
    margin-top:       -15px;
    padding:          25px 10px 10px 10px;
    clear:            both;
    border:           2px solid $text;
    border-radius:    15px;
    background-color: $back;

    h1 {
        font-size:     32px;
        margin-bottom: 15px;
    }

    p {
        margin-top:    0px;
        margin-bottom: 1.5*20px;
        line-height:   1.5;
    }

}

.columns {
    @include prefix(columns, 420px auto);
}

cite, em {
    font-style:  italic;
}

form {
    margin-bottom: 30px;
}

fieldset {
    padding:       10px;
    border:        1px solid;
    border-radius: 5px;

    break-inside:  avoid;
    @include prefix(column-break-inside, avoid);
}

input {
    margin-bottom: 10px;
}

.form {
    text-align:   right;
    float:        left;
}

.sqbutton {
    float:         left;
    margin-left:   10px;
    margin-right:  10px;
}
