
.seqrentry-button {
    padding: 0px;
    border:  2px solid #888;
}

.seqrentry-button::-moz-focus-inner {
    padding: 0px;
    border:  none;
}

#seqrentry-banner {
    position:      fixed !important;
    position:      absolute;
    left:          0px;
    width:         100%;
    height:        400px;

    margin:        0px;
    padding:       0px; 

    border-top:    2px solid #000;
    border-right:  0px;
    border-bottom: 2px solid #000;
    border-left:   0px;

    background:    #fff;
    color:         #000;
}

#seqrentry-qrcode {
    display:       block;
    cursor:        pointer;

    margin-top:    0px;
    margin-left:   auto;
    margin-bottom: 0px;
    margin-right:  auto;
    padding:       25px;
    border:        0px;
}
