
@import 'reset';

/* IE8 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}


@mixin prefix($name, $value) {
  #{$name}:         $value;
  -moz-#{$name}:    $value;
  -webkit-#{$name}: $value;
}

$fill: #7EA7D8;
$body: #fcffff;
$back: #fffff8;
$text: #033;
$shadow: rgba(0,0,0,0.4);
//$shadow: #ccc;

@media (max-width: 419px) {
    @-ms-viewport {
        width: 420px;
    }
}

@media (max-width: 719px) {
    nav {
        display: none;
    }
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-style:  normal;
    font-weight: 300;
    font-size:   20px;

    margin: 0px auto 0px auto;

    background-color: $body;
    color:            $text;
    max-width:        1280px;
    padding:          0px 15px 15px 15px;
    position:         relative;
}

input, button {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-style:  normal;
    font-weight: 300;
    font-size:   20px;
}

a         { color: $fill; }
a:link    { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover   { text-decoration:underline; }
a:active  { text-decoration:underline; }

q:before  {  content:     '\201C'; }
q:after   {  content:     '\201D'; }

sup { vertical-align: top; }
sub { vertical-align: sub;   }

sub, sup {
    font-size:   67%;
}

ul li {
    list-style:  square inside;
    margin-left: 20px;
}

ol li {
    list-style:  decimal inside;
    margin-left: 20px;
}

pre, tt, code {
    font-family: 'Source Code Pro', 'Andale Mono', monospace;
    font-style:  normal;
    font-weight: 300;
    font-size:   80%;

    code {
        font-size: 100%;
    }
}


nav {
    position: absolute;
    top:      30px;
    right:    30px;
    z-index:  1;

    a {
        color: $text;
    }

    img {
        float:  right;
        margin: 0px 15px 0px 15px;
    }

    ul {
        float:   right;
    }

    li {
        list-style-type: none;
        margin:          0px;
    }
}

article {
    padding:  15px 0px 15px 0px;
    z-index:  0;
}

article.stacked {
    position: absolute;
    top:      0px;
    left:     15px;
    right:    15px;

    opacity:  0;
    @include  prefix(transition, opacity 0.3s linear);
}

article.active {
    opacity: 1 !important;
}

article.inactive {
    visibility: hidden;
}

article.removed {
    display: none;
}

header {
    hgroup {
        display:          inline-block;
        margin-left:      -30px;
        padding:          20px 30px 20px 30px;
        background-color: $fill;
        color:            $back;

//        border:           2px solid $text;
//        border-radius:    15px;
//        box-shadow:       0px 0px 40px $shadow;

	border-radius:    10px;
	box-shadow:       0px 1px 6px $shadow;
    }

    a {
        color:            $back;
    }

    h1 {
        font-family: 'Oregano', cursive;
        font-weight: 400;
        font-style:  italic;
        font-size:   48px;
    }

    h2 {
        font-style:  normal;
        font-weight: 100;
        font-size:   32px;

        margin-top:  5px;
        text-align:  right;
    }
}

section {
    margin-top:       -15px;
    padding:          25px 10px 10px 10px;
    margin-bottom:    20px;
    clear:            both;
    background-color: $back;

//    border:           2px solid $text;
//    border-radius:    15px;
//    box-shadow:       0px 0px 40px $shadow;

    border-radius:    10px;
    box-shadow:       0px 1px 6px $shadow;

    h1, h2, h3 {
        break-after:      avoid;
        page-break-after: avoid;
        @include prefix(column-break-after, avoid);
    }

    h1 {
        font-size:      32px;
        margin-bottom:  15px;
        padding:        5px 0px 5px 0px;
        border-bottom:  1px solid $text;
    }

    h1:after, h2:after {
        content: '.';
    }

    h2 {
        font-size:     24px;
        margin-bottom: 10px;
    }

    p, ul, ol {
        margin-top:    0px;
        margin-bottom: 15px;
        line-height:   1.5;
    }

}

footer {
    clear:      both;
    text-align: center;
    font-size:  67%;
}

.columns {
    @include prefix(columns, 420px auto);
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.paypal {
    display: inline-block;
}

.apps {
    padding-top: 20px;
    text-align:  center;

    p {
        margin:     0 auto 0 auto;
        display:    inline-block;
        width:      32%;
        min-width:  208px;
        text-align: center;
        font-style: italic;
    }

    img {
        height: 67px;
    }
}

pre.prettyprint {
    width: auto !important;

    .nocode {
        color: $back;
    }
}

cite, em {
    font-style:  italic;
}

form {
    margin-bottom: 30px;
}

fieldset {
    padding:       10px;
    border:        1px solid;
    border-radius: 5px;

    break-inside:  avoid;
    @include prefix(column-break-inside, avoid);
}

#demo input, #demo button {
    margin-bottom:    10px;
    background-color: $body;
    @include prefix(transition, background-color 0.5s ease-out);
}

#demo .highlight {
    background-color: $fill;
    @include prefix(transition, background-color 0.1s);
}

#demo .form {
    text-align:   right;
    float:        left;
    margin-right: 10px;
}

#demo button .logo {
    font-family: 'Oregano', cursive;
    font-weight: 400;
    font-style:  italic;
}

#demo .sqbutton {
    padding:       0px;
    border:        0px;
}

#demo .sqbutton::-moz-focus-inner {
    padding:       0px;
    border:        0px;
}
