
@import 'reset';

@mixin prefix($name, $value) {
  #{$name}:         $value;
  -moz-#{$name}:    $value;
  -webkit-#{$name}: $value;
}

$fill: #7EA7D8;
$body: #fcffff;
$back: #fffff8;
$text: #033;
$shadow: #ccc;

html {
    overflow-y: scroll;
}

body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-style:  normal;
    font-weight: 300;
    font-size:   20px;

    margin: 0px auto 0px auto;

    background-color: $body;
    color:            $text;
    max-width:        1280px;
    padding:          0px 15px 15px 15px;
    position:         relative;
}

input {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-style:  normal;
    font-weight: 300;
    font-size:   20px;
}

a         { color: $fill; }
a:link    { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover   { text-decoration:underline; }
a:active  { text-decoration:underline; }

q:before  {  content:     '\201C'; }
q:after   {  content:     '\201D'; }

ul li {
    list-style:  square inside;
    margin-left: 20px;
}

pre, tt, code {
    font-family: 'Source Code Pro', 'Andale Mono', monospace;
    font-style:  normal;
    font-weight: 300;
    font-size:   16px;
}

article {
    padding: 15px 0px 15px 0px;
}

article.stacked {
    position: absolute;
    top:      0px;
    left:     15px;
    right:    15px;

    opacity:  0;
    @include  prefix(transition, opacity 0.3s linear);
}

article.active {
    opacity: 1 !important;
}

article.inactive {
    visibility: hidden;
}

article.removed {
    display: none;
}

header {
    hgroup {
        display:          inline-block;
        border:           2px solid $text;
        margin-left:      -30px;
        padding:          20px 30px 20px 30px;
        border-radius:    15px;
        background-color: $fill;
        color:            $back;
        box-shadow:       0px 0px 40px $shadow;
    }

    a {
        color:            $back;
    }

    h1 {
        font-family: 'Oregano', cursive;
        font-weight: 400;
        font-style:  italic;
        font-size:   48px;
    }

    h2 {
        font-style:  normal;
        font-weight: 100;
        font-size:   32px;

        text-align: right;
    }
}

section {
    margin-top:       -15px;
    padding:          25px 10px 10px 10px;
    clear:            both;
    border:           2px solid $text;
    border-radius:    15px;
    background-color: $back;

    box-shadow:       0px 0px 40px $shadow;

    h1 {
        font-size:     32px;
        margin-bottom: 15px;
    }

    h1:after {
        content: '.';
    }

    h2 {
        font-size:     24px;
        margin-bottom: 10px;
    }

    p, ul, ul.para li {
        margin-top:    0px;
        margin-bottom: 15px;
        line-height:   1.5;
    }

}

.columns {
    @include prefix(columns, 420px auto);
}

.no-bullet li {
    list-style: none;
}

.FlattrButton {
#    float: right;
}

.paypal {
    display: inline-block;
}

.columns pre {
    display: inline-block;
}

pre.prettyprint {
    width: auto !important;
}

cite, em {
    font-style:  italic;
}

form {
    margin-bottom: 30px;
}

fieldset {
    padding:       10px;
    border:        1px solid;
    border-radius: 5px;

    break-inside:  avoid;
    @include prefix(column-break-inside, avoid);
}

#demo input {
    margin-bottom:    10px;
    background-color: $body;
    @include prefix(transition, background-color 0.5s ease-out);
}

#demo .highlight {
    background-color: $fill;
    @include prefix(transition, background-color 0.1s);
}

#demo .form {
    text-align:   right;
    float:        left;
}

#demo .sqbutton {
    float:         left;
    margin-left:   10px;
    margin-right:  10px;
}
